<section class="section_footer">
  <div class="container container_footer">
    <a
      href="{{ shop.url }}"
      class="logo_footer"
      data-scale>
      <h3 class="text_Logo">{{ shop.name }}</h3>
    </a>
    <div class="footer_block">
      <h5 class="footer_title">Badmintonas</h5>
      <ul class="footer_list">
        <li class="footer_link">
          <a data-link_filterpage="all">Visos prekės</a>
        </li>
        <li class="footer_link">
          <a data-link_filterpage="racket">Raketės</a>
        </li>
        <li class="footer_link">
          <a data-link_filterpage="ball">Plunksniukai</a>
        </li>
        <li class="footer_link">
          <a data-link_filterpage="clothing">Apranga</a>
        </li>
        <li class="footer_link">
          <a data-link_filterpage="equipment">Priedai</a>
        </li>
      </ul>
    </div>
    <div class="footer_block">
      <h5 class="footer_title">Informacijos</h5>
      <ul class="footer_list">
        <li class="footer_link">
          <a href="">Adresas/Kontaktai</a>
        </li>
        <li class="footer_link">
          <a href="">Pirkimo salygos</a>
        </li>
        <li class="footer_link">
          <a href="">Sausainiuku ir privatumo politika</a>
        </li>
      </ul>
    </div>
    <div class="contact_links_footer">
      <a href="">musupastas@gmail.com</a>
      <a href="">+49 120 2042 1024</a>
    </div>
  </div>
</section>