{% assign optionName = 'Color' %}
{% assign optionExists = false %}

{% for option in product.options %}
  {% if option == optionName %}
    {% assign optionExists = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if optionExists %}
  {% assign colorOption = product.options_with_values | where: 'name', optionName | first %}
  {% assign firstValue = colorOption.values | first %}
  {% assign color_raw = firstValue | split: ' ' | slice: 1 | first %}
  {% assign color_bg = firstValue | split: ' ' | last %}
  <p>option exists</p>
{% else %}
  <p>option DOESNT exists</p>
{% endif %}


<p>Bg: {{ color_bg }}</p>
<p>Raw: {{ color_raw }}</p>