:root {
    --color_Main: #407ff2;
    --color_Main_Hover: #3068cf;
    --color_hover: #f5f5f5;
    --color_hover_lightBlue: #ebf2fd;

    --color_Text: rgba(0, 0, 0, 0.80);
    --color_bigText: rgba(0, 0, 0, 0.75);
    --color_activeLink: rgba(64, 127, 242, 0.1);
    --color_black_06: rgba(0, 0, 0, 0.600);
    --color_text_green: rgb(23 116 0 / 80%);

    --color_grey: #747474;
    --color_bg: #f9fbff;
    --color_red: #ff4f4f;

    --shadow_normal: 0 1px 4px rgba(0, 0, 0, 0.10);
    --border_bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.box_404 {
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnWrap_404 {
    display: flex;
}
.btnWrap_404 > a {
    color: var(--color_Main);
}