:root {
  --color_Main: #407ff2;
  --color_Main_Hover: #3068cf;
  --color_hover: #f5f5f5;
  --color_hover_lightBlue: #ebf2fd;

  --color_Text: rgba(0, 0, 0, 0.80);
  --color_bigText: rgba(0, 0, 0, 0.75);
  --color_activeLink: rgba(64, 127, 242, 0.1);
  --color_black_06: rgba(0, 0, 0, 0.600);
  --color_text_green: rgb(23 116 0 / 80%);

  --color_grey: #747474;
  --color_bg: #f9fbff;
  --color_red: #ff4f4f;

  --shadow_normal: 0 1px 4px rgba(0, 0, 0, 0.15);
  --border_bottom: 1px solid rgba(0, 0, 0, 0.04);
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;

  position: fixed;
  top: 0;
  z-index: 20;

  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
nav[data-shadowVisible="false"] {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0);
}
.cWrap_Nav {
  display: flex;
  justify-content: space-between;
  padding: 0 12px 0 30px;

  width: 100%;
  max-width: 1920px;
  position: relative;
  box-shadow: 0 0 0 white;

  position: relative;
  z-index: 5;
  background-color: white;
}
.cWrap_Nav.shadow {
  box-shadow: var(--shadow_normal);
}
.wrap_navLeft {
  display: flex;
  align-items: center;
}
.wrap_Logo {
  margin-right: 40px;
}
.text_Logo {
  font-size: 24px;
  font-weight: 900;
  color: var(--color_Main);
}

.wrap_navLinks_D {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.navLink {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 17px;
  margin-right: 10px;
  height: 42px;
  position: relative;
  font-weight: 400;

  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background-color: #fff;
  cursor: pointer;
}
.navLink.current {
  background-color: var(--color_activeLink);
}
.navLink.cart {
  padding: none;
}
.navLink_dropdown {
  position: relative;
}
.icon_Nav {
  margin-right: 10px;
  width: 21;
  min-width: 21px;
  object-fit: cover;
}


/* right nav */
.wrap_navRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navLink.btn_more {
  padding: 0;
}
.btnWrap_more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;

  width: 100%;
  height: 100%;
  position: relative;

}
.nav_Dropdown {
  padding-top: 18px;
  position: absolute;
  top: 40px;
  right: 0;

  display: none;
  opacity: 0;
}
.nav_Dropdown.badminton {
  right: auto;
  left: 0;
}
.content_navDropdown {
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: var(--shadow_normal);
}
.link_dropdown {
  display: flex;
  align-items: center;
  padding: 0 16px;

  width: 320px;
  height: 56px;
  border-bottom: var(--border_bottom);
  cursor: pointer;
}
.link_dropdown.badminton {
  width: 200px;
}

/* btn cart */
.btn_bag {
  font-weight: 600;
  position: relative;
  display: flex;
}
.btn_bag.not_empty > p {
  color: var(--color_Main) !important;
}
.btn_bag.not_empty > .icon_Nav.bag {
  filter: saturate(100%);
}
.icon_Nav.bag {
  margin: 0 4px 2px 0;
  filter: saturate(0%);
  user-select: none;
}

/* btn menu */
.navLink.menu {
  display: none;
  overflow: hidden;
}
.tWrap_btnMenu {
  display: flex;
  align-items: center;
  position: relative;
  top: 15px;
  opacity: 0;
}
.tWrap_btnMenu.show {
  top: 0;
  opacity: 100%;
}
.X_wrap.menu {
  position: absolute;
  opacity: 0;
  top: 0;
}
.X_wrap.menu.show {
  opacity: 100%;
  top: 19px;
}


/* dropdown menu */
.cWrap_menuDropdown {
  width: 100%;
  height: 110vh;
  min-height: 110vh;

  padding: 60px 0 10vh;
  overflow: scroll;
  position: fixed;
  left: 0;
  top: -50px;

  background-color: #fff;
  display: none;
  opacity: 0;

  z-index: 1;
}
.cWrap_menuDropdown.show {
  opacity: 100%;
  top: 0;
}
.menuDropwdown_TOP {
  display: grid;
  grid-template-columns: 1fr 130px;
  column-gap: 8px;
  row-gap: 8px;
  padding: 16px 4vw;
  width: 100%;
  background-color: var(--color_bg);
  border-bottom: var(--border_bottom);
}
.menuDropwdown_CONTENT {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 8px;
  column-gap: 8px;

  padding: 30px 4vw;
  background-color: var(--color_bg);
}
.categoryLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  padding: 0 16px 5vw;
  height: 40vw;
  position: relative;

  background-color: #fff;
  border-radius: 12px;
  box-shadow: var(--shadow_normal);
}
.img_categoryLink {
  padding-bottom: 20px;
  width: 20vw;
  height: 70%;
  object-fit: contain;
}
.menuDropwdown_LINKS {
  margin-bottom: 20vh;
  box-shadow: 0 -5px 7px -6px rgba(0, 0, 0, 0.1);
}
.navLink.dropdown {
  flex: 1;
  border-radius: 8px;
  justify-content: flex-start;

  margin: 0;
  height: 50px;
  box-shadow: var(--shadow_normal);
  border: none;
}
.navLink.dropdown.lang {
  justify-content: center;
  padding: 0;
}


.langToggle_m_TOP {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}


.langToggle_m_BOTTOM {
  position: absolute;
  right: 0;
  background-color: #fff;
  box-shadow: var(--shadow_normal);
  border-radius: 8px;
  z-index: 4;
  overflow: hidden;
  
  display: none;
  top: 40px;
  opacity: 0%;
}
.langToggle_m_BOTTOM.show {
  top: 58px;
  opacity: 100%;
} 
.X_wrap.lang {
  position: absolute;
  opacity: 0%;
  top: -12px;
  height: 100%;
}
.link_dropdown.menu {
  width: 100%;
  padding: 0 30px;
}

.wrap_langPreview {
  display: flex;
  align-items: center;
  height: 100%;
}
.separator_langPreview {
  height: 16px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.102);
  margin: 0 12px;
}

.content_navDropdown.lang {
  padding: 16px;
  display: flex;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  flex-direction: column;
}

.optionWrap_langDropdown {
  margin-bottom: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.optionWrap_langDropdown.currency {
  height: 40vh;
  position: relative;
  margin: 0;
}
.optionWrap_langDropdown > p {
  color: var(--color_black_06);
}
.options_langDropdown {
  border: var(--border_bottom);
  overflow: hidden;
  border-radius: 8px;
  margin-top: 8px;
  position: relative;
  
}
.options_langDropdown.lang {
  display: flex; 
}
.options_langDropdown.currency {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box_activeCurrency {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 14px;
  background-color: #FFF4DA;
  border-bottom: var(--border_bottom);
  height: 64px;
  min-height: 64px;
}
.form_currency {
  height: 100%;
  overflow-y: scroll;
}
.form_currency_mobile {
  height: 100%;
  overflow-y: scroll;
}
.currencyFade {
  width: 100%;
  height: 42px;
  background: linear-gradient(360deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);


  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.langLink {
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  flex: 1;
  width: 92px;
  justify-content: center;
  padding-left: 3px;
}
.langLink:hover {
  background-color: var(--color_hover);
}
.countryWrap {
  overflow-y: scroll;
}
.countryOption {
  display: flex;
  align-items: center;
  height: 42px;
  cursor: pointer;
  justify-content: space-between;
  padding: 0 14px;
}
.countryOption:hover {
  background-color: var(--color_hover);
}

.langLink.active {
  background-color: #FFF4DA;
} 

.langFlag {
  width: 26px;
  height: 16px;
  object-fit: cover;
  border-radius: 3px;
}
.langFlag.mobile_dropdown {
  position: relative;
  opacity: 100%;
  top: 0;
}
.langTag {
  margin-left: 6px;
  width: 20px;
}

.langBox_mobile {
  position: fixed;
  bottom: -1;
  left: 0;
  z-index: 100;
  
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.297);

  display: none;
  align-items: end;
  opacity: 0%;

}
.langBox_mobileSubwrap {
  width: 100%;
  background-color: white;
  padding: 4px 16px 32px;
  overflow-y: scroll;
  position: relative;

  top: 50px;
  opacity: 0%;
}
.langBox_mobileSubwrap.show {
  top: 0px;
  opacity: 100%;
}
.titlWrap_langDropdown_mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 12px;
}




@media only screen and (min-width: 1440px) {}
@media only screen and (min-width: 1921px) {}

/* Default == 991 to 1440 */
@media only screen and (max-width: 990px) {
  .cWrap_Nav {
    padding: 0 4vw
  }
  .wrap_navLinks_D {
    display: none
  }
  .navLink.btn_more {
    display: none;
  }
  .navLink.menu {
    display: flex;
  }
  .navLink.langBox {
    display: none;
  }
  .navLink.dropdown.badminton {
    grid-column: 1/3;
  }

  .langBox_mobile.show {
    opacity: 100%;
  }
}
@media only screen and (max-width: 770px) {
  .menuDropwdown_CONTENT {
    padding-top: 16px;
  }
  .categoryLink {
    padding-bottom: 6vw;
    height: 50vw;
  }
  .img_categoryLink {
    width: 34vw;
    height: 71%;
  }
}
@media only screen and (max-width: 500px) {}