:root {
  --color_Main: #407ff2;
  --color_Main_Hover: #3068cf;
  --color_hover: #f5f5f5;
  --color_hover_lightBlue: #ebf2fd;

  --color_Text: rgba(0, 0, 0, 0.80);
  --color_bigText: rgba(0, 0, 0, 0.75);
  --color_activeLink: rgba(64, 127, 242, 0.1);
  --color_black_06: rgba(0, 0, 0, 0.600);
  --color_text_green: rgb(23 116 0 / 80%);

  --color_grey: #747474;
  --color_bg: #f9fbff;
  --color_red: #ff4f4f;

  --shadow_normal: 0 1px 4px rgba(0, 0, 0, 0.15);
  --border_bottom: 1px solid rgba(0, 0, 0, 0.04);
}
*[data-cursor="pointer"] {
  cursor: pointer;
}

.productSIDE {
  flex: 1;
  width: 59%;
  margin-right: 24px;
}


.section_productPage {
  background-color: var(--color_bg);
  overflow: visible;
  padding-top: 60px;
}
.container_productPage {
  height: auto;
  width: 100%;

  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  overflow: visible;
}

.stickyDIV {
  width: 100%;
  max-height: 700px;
  min-height: 470px;
  height: calc(100vh - 180px);
  background-color: #f0f09a;

  position: sticky;
  top: 120;
  z-index: 1;

  display: flex;
  flex-direction: column;

  transition: all 0.4s;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

  border-radius: 12px;
  overflow: hidden;
}

.sliderTitleWRAP {
  z-index: 10;
  width: 100%;
  opacity: 1;
  padding: 22px 26px 0;

  display: flex;
  position: absolute;
  top: 0;
  transition: 200ms ease-in-out;
}
.sliderTitleWRAP.zoom {
  opacity: 0;
  top: -90px;
}
.priceWrap_productPage {
  display: flex;
  margin-left: auto;
  flex-basis: 40%;
  justify-content: flex-end;
}

.btn_cart {
  height: 55px;
  width: 55px;
  grid-row: span 2;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('{{ 'icon_bag.png' | asset_url }}');
  background-position: 50% 46%;
  background-repeat: no-repeat;
  background-size: 24px;

  filter: saturate(0%);
  border-radius: 300px;
  cursor: pointer;
}
.btn_cart:hover {
  background-color: var(--color_hover_lightBlue);
  filter: saturate(100%);
}

.swiper {
  width: 100% !important;
  height: 100%;
  min-height: 100%;

  position: relative;
  top: 0;
  z-index: 2;
  transition: 200ms ease-in-out;
}
.swiper-wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  transition: 400ms;

  position: relative;
  z-index: 2;
  box-sizing: border-box;
  transition-property: initial;
  transition-duration: 400ms;
}
.swiper-wrapper.zoom {
  padding-top: 0;

}
.swiper-slide {
  flex: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 30px 5vw 85px;
  width: 100%;
  height: 100%;
  max-width: 100%;

  position: relative;
  transition: 400ms;
  transition-duration: 400ms;
}
.swiper-slide::-webkit-scrollbar {
  display: none
}
.imgSwiper {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 400ms;
}
.img_WAVE_long {
  position: absolute;
  top: -4px;
  left: -525px;
  object-fit: cover;
  z-index: 1;
  height: 104%;

  width: auto;
  max-width: none;
  min-width: 100%;

  background-color: var(--color_hover);
  transition: all 400ms ease 0s;
  transform: translate3d(0%, 0px, 0px);
  opacity: 1;
}

.sliderControls {
  display: flex;
  justify-content: center;
  padding-left: 26px;
  padding-right: 26px;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 6px;
  z-index: 5;
  transition: 200ms ease-in-out;
}
.sliderControls.zoom {
  bottom: -60px;

}
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  max-width: 300px;
  opacity: 100%;
  position: relative;
  bottom: 0 !important;
}
.swiper-pagination.zoom {
  opacity: 0;
  bottom: -60px;
}
.swiper-pagination-bullet {
  height: 12px;
  width: auto;
  flex-grow: 1;
  margin-right: 8px;
  border-radius: 300px;
  opacity: 100%;
  background-color: #fff;
}

.slider_btns {
  display: flex;
  opacity: 100%;
}
.slider_btns.zoom {
  opacity: 0;
}
.swiperBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4px;

  position: relative;
  top: 0;
  z-index: 1;
  width: 55px;
  height: 55px;
  left: 0;
  right: 0;

  border-radius: 100px;
  transition: all 80ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.swiperBtn.reverse {
  rotate: 180deg;
}

.line_arrow {
  width: 2px;
  height: 16px;
  background-color: var(--color_grey);
  border-radius: 100px;
  margin-bottom: 6px;
  position: absolute;
  transform: rotate(60deg);
}
.line_arrow.reverse {
  margin-bottom: -9px;
  transform: rotate(-60deg);
}

.swiper-button-disabled:hover {
  background-color: rgba(164, 164, 164, 0);
  cursor: default;
}
.slider_btns > .swiper-button-disabled > * {
  background-color: #e1e1e1;
}

.btn_Zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-size: 24px, 24px;

  margin-left: 8px;
  border-radius: 100px;
}

.controls_Magnify {
  position: absolute;
  right: 0;
  bottom: -75px;
  z-index: 15;
  opacity: 0;
  display: flex;
}
.controls_Magnify.zoom {
  opacity: 1;
  bottom: 75px;
}
.btn_magnify {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 55px;
  height: 55px;
  margin-right: 8px;

  border-radius: 300px;
  color: rgba(0, 0, 0, 0.8);
}
.btn_magnify.active {
  color: white;
  font-weight: 600;
}
.X_wrap.zoom {
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-radius: 100px;
  border: var(--border_bottom)
}
.X_wrap.zoom:hover {
  background-color: var(--color_hover);
}

/* //////////////////////////// */


input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;

  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  
  cursor: pointer;
  font-size: 16px;
}

.formSIDE {
  width: 38%;
  height: fit-content;
}
.formSideSUBWRAP > * {
  width: 100%;
  background-color: #fff;
  box-shadow: var(--shadow_normal);
  border-radius: 12px;
  padding: 16px;
}

.title_Product {
  flex-basis: 60%
}
.p_stockLeft {
  font-weight: 500;
  margin-top: 3px;
}
.p_stockLeft.red {
  color: var(--color_red);
}
.p_stockLeft.red > span {
  color: var(--color_red);
}

.form_productPage {
  margin-bottom: 0;
}
.form_mainDesc {
  width: 100%;
}
.optionWRAP {
  width: 100%;
  height: 54px;
  min-height: 54px;
  display: flex;

  border: 1px solid rgb(236 236 236);
  border-radius: 8px;
  margin: 8px 0 24px;
  overflow: hidden;
  position: relative;

  color: black;
  background-color: white;
}
.optionWRAP > * {
  z-index: 5;
}

.optionInputBtn {
  height: 100%;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  opacity: 100%;
  position: relative;
  cursor: pointer;
  background-color: inherit;
}
.optionInputBtn[data-visible="false"] {
  width: 0px !important;
  height: 0px !important;
  flex: 0 !important;

  cursor: auto;
  opacity: 0;
}

.optionRadio {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  opacity: 0%;
  
}
.radioLABEL {
  position: absolute;
  z-index: 5;
  color: var(--color_Text);
}
.radioLABEL.color {
  width: 16px;
  height: 16px;
  background-color: grey;
  border-radius: 100px;
}
.radioColorOVERLAY {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.optionRadio:hover + .radioColorOVERLAY {
  background-color: var(--color_hover);
}
.optionRadio:checked ~ .radioColorOVERLAY {
  background-color: inherit;
}
.optionRadio:checked ~ .radioLABEL {
  color: inherit;
  font-weight: 600;
}






/* ----------------------------- */

.qntFRONT {
  width: 100%;
  height: 54px;
  min-height: 54px;

  align-items: center;
  color: inherit;
  background-color: inherit;
  position: relative;

  transition: 50ms;
  display: flex;
  opacity: 100%;
}
.qntBACK {
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: center;

  color: inherit;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;

  transition: 50ms;
  opacity: 0%;
  display: none;
}

.optionWRAP::before,
.qntBACK::before, 
.qntBtnWRAP.back::before {
  content: "";
  width: 100%;
  height: 100%;

  background-color: #fff !important;
  z-index: 1 !important;

  position: absolute !important;
  top: 0;
  left: 0;
}
.qntBACK > * {
  position: relative;
  z-index: 5;
}
.qntBtnWRAP {
  flex: 1;
  height: 100%;
  color: inherit;
  background-color: inherit;

  display: flex;
}
.qntBtnWRAP.back {
  width: 100%;
  height: fit-content;
  padding: 12px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 50px);
  column-gap: 4px;
  row-gap: 4px;

  border-top: 1px solid rgb(239 239 239);
}
.qntBtnWRAP.mob {
   display: none;
}
.qntBtnWRAP.mob.back {
  grid-template-columns: repeat(5, 1fr);
  display: none;
}
.qntBtnWRAP[data-visible="false"] {
  display: none;
}
.expandQntBTN {
  height: 100%;
  width: 110px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: inherit;
  background-color: #fff;

  border-left: var(--border_bottom);
  cursor: pointer;
  overflow: hidden;
  opacity: 100%;
}
.expandQntBTN:hover {
  background-color: inherit;
}


.qntBtnWRAP.back > .qntBTN {
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,.03);
  z-index: 5;
}
.qntBTN {
  flex: 1;
  height: 100%;
  opacity: 100%;
  background-color: #fff;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.qntBTN[data-visible="false"] {
  flex: 0 !important;
  width: 0px !important;
  height: 0px !important;
  opacity: 0% !important;
}
.qntBTN:hover {
  background-color: var(--color_hover);
}
.qntBTN[data-selected="true"] {
  background-color: inherit;
  color: inherit;
  font-weight: 600;
}

.qntBackTopWRAP {
  height: 54px;
  min-height: 54px;
  display: flex;
  width: 100%;

  align-items: center;
    padding-right: 4px;
}
.fakeQntInput {
  height: 100%;
  min-width: 0;
  flex: 1;
  padding-left: 16px;
  font-size: 17px;
}
.qntActionBTN {
  height: 80%;
  padding: 0 16px;
  border-radius: 8px;

  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.qntActionBTN.submit {
  color: white;
  overflow: hidden;
}
.qntActionBTN.submit[data-visible="false"] {
  width: 0px;
  padding: 0px;
}















/* ----------------------------- */
.textAlert.cart_full {
  /* width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2; */
  background-color: #fff;
  /* align-items: center;
  justify-content: center; */
}
.wrap_formBtns {
  margin-top: 42px
}

.formBtn {
  height: 54px;
  width: 100%;
  border-radius: 8px;

  display: none;
  align-items: center;
  padding: 20px;

  margin-bottom: 8px;
  cursor: pointer;

}
.wrap_formBtns[data-btnState="cartEMPTY"] > .formBtn.buy, 
.wrap_formBtns[data-btnState="cartEMPTY"] > .formBtn.addCart.second,
.wrap_formBtns[data-btnState="cartNotEmpty"] > .formBtn.addCart.main.noCart,
.wrap_formBtns[data-btnState="cartNotEmpty"] > .formBtn.viewCart.not_full,
.wrap_formBtns[data-btnState="itemInCART"] > .formBtn.addCart.main.isCart,
.wrap_formBtns[data-btnState="itemInCART"] > .formBtn.viewCart.not_full,
.wrap_formBtns[data-btnState="itemInCartFULL"] > .formBtn.viewCart.full {
  display: flex;
}

.formBtn > p {
  flex-grow: 1;
}
.theSVG {
  width: 17px;
  margin-bottom: 2px;
  display: none
}
.bagIcon_btnCart {
  width: 24px;
  object-fit: contain;
  margin-left: auto;
  display: none;
}
.price_insideBtn {
  margin-left: auto;
  color: white;
}
.sign_outOfstock {
  background-color: var(--color_hover);
  border-radius: 8px;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.formALERT {
  display: none;
}
.formALERT[data-color="red"] {
  color: red;
}
.form_productPage[data-alert="variantInCartERROR"]  .variantInCartERROR,
.form_productPage[data-alert="qntRequestERROR"]  .qntRequestERROR,
.form_productPage[data-alert="variantInCART"]  .variantInCART,
.form_productPage[data-alert="allAvailableVariantsInCART"] .allAvailableVariantsInCART {
  display: block;
}
.form_productPage[data-alert="allAvailableVariantsInCART"] > .optionWRAP.qnt {
  height: 54px !important;
}
.form_productPage[data-alert="allAvailableVariantsInCART"] .qntFRONT,
.form_productPage[data-alert="allAvailableVariantsInCART"] .qntBACK {
  display: none !important;
}
.form_productPage[data-alert="allAvailableVariantsInCART"] .formALERT.allAvailableVariantsInCART {
  display: flex !important;
}
.formALERT.allAvailableVariantsInCART {
  color: rgba(0, 0, 0, .8) !important;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* font-style: italic; */
  align-items: center;
  justify-content: center;
}

.separator {
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 24px 0;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: none;
}

.productDescription {
  margin-top: 20px;
}

.wrap_otherInfo {
  padding: 4px 16px;
}
.otherInfo {
  padding: 12px 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.icon_otherInfo {
  margin-right: 14px;
  height: 26px;
  min-height: 26px;
  object-fit: contain;
}

.wrap_payments {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  height: fit-content;
  margin-top: 16px;
}
.icon_payment {
  width: 95%;
  height: auto;
}

.text_qntError {
  display: none
}


/* reviews */

.preview_reviews {
  display: flex;
  margin: 16px 0;
  cursor: pointer;
}

.arrow_reviews {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.spr-container {
  padding: 0 !important;
  border: none !important;
}

.spr-summary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.spr-header-title {
  margin-bottom: 4px !important;
  text-align: left !important;
}
.spr-summary-caption {
  margin: 2px 0 0 8px;
}
.spr-summary-actions {
  min-width: 100%;
  display: flex;
  margin: 24px 0 0 ;
  
}

.spr-summary-actions-newreview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 15);
  border-radius: 8px;
  margin-top: 6px;
}

.spr-badge {
  margin-right: 4px;
}
.spr-badge-caption {
  display: none;
}
.spr-icon {
  transition: 150ms !important;
}





@media only screen and (min-width: 1921px) {
  .container_productPage {
    max-width: 1300px;
  }
}
/* Default == 991 to 1440 */
@media only screen and (max-width: 1300px) {
  .productSIDE {
    width: 45%;
  }
  .formSIDE {
    width: 50%;
  }
}
@media only screen and (max-width: 990px) {
  .productSIDE {
    width: 100vw;
  }
  .section_productPage {
    padding: 0;
  }
  .stickyDIV {
    border-radius: 0;
  }
  .formSIDE {
    width: 100%;
    padding: 4vw;
  }
  .section_TOP_productPage {
    height: 50vh;
    max-height: 640px;
    padding-left: 0;
    padding-right: 0;
  }
  .sliderTitleWRAP {
    padding: 14px 16px 0
  }
  .sliderControls {
    padding-left: 16px;
    padding-right: 16px;
  }
  .container_productPage {
    flex-direction: column;
  }
  .container_productPage.mini {
    flex-direction: row;
  }
  .formBtn {
    grid-template-columns: 1fr 1fr;
  }
  .theSVG {
    display: block
  }
  .swiperBtn:hover {
    background-color: #fff;
  }


}
@media only screen and (max-width: 770px) {
  .section_TOP_productPage {
    height: 88vh;
    min-height: 450px;
  }
  .swiper-slide {
    padding-bottom: 90px;
  }

  .swiper-pagination {
    max-width: 200px;
  }
  .swiper-pagination-bullet {
    margin-right: 6px;
  }
  .container_productPage.desc {
    grid-template-columns: 1fr;
  }

  .stickyDIV {
    height: 500px;
  }

}
@media only screen and (max-width: 500px) {
  .swiper-pagination {
    max-width: 40vw;
  }
  .bagIcon_btnCart {
    display: block;
  }
  .wrap_mainDesc {
    height: 80vh;
  }
  .wrap_qntOptions {
    display: none;
  }
  .wrap_qntOptions.mobile {
    display: flex;
  }
  .formBtn {
    grid-template-columns: 1fr;
  }

  .qntBtnWRAP.desk,
  .qntBtnWRAP.desk.back {
    display: none;
  }
  .qntBtnWRAP.mob {
    display: flex;
  }
  .qntBtnWRAP.mob.back {
    display: grid;
  }
  
}