:root {
    --color_Main: #407ff2;
    --color_Main_Hover: #3068cf;
    --color_hover: #f5f5f5;
    --color_hover_lightBlue: #ebf2fd;
  
    --color_Text: rgba(0, 0, 0, 0.80);
    --color_bigText: rgba(0, 0, 0, 0.75);
    --color_activeLink: rgba(64, 127, 242, 0.1);
    --color_black_06: rgba(0, 0, 0, 0.600);
    --color_text_green: rgb(23 116 0 / 80%);
  
    --color_grey: #747474;
    --color_bg: #f9fbff;
    --color_red: #ff4f4f;
  
    --shadow_normal: 0 1px 4px rgba(0, 0, 0, 0.15);
    --border_bottom: 1px solid rgba(0, 0, 0, 0.04);
  }




.section_pageTitle.cart {
    z-index: 4;
}
.subWrap_pageTitle.cart {
    max-width: 1150px;
}
.section_cartPage {
    background-color: var(--color_bg);
    align-items: flex-start;
    z-index: 3;
}
.container.container_cartItems {
    width: 100%;
    display: flex;
    justify-content: center;
}


.grid_cartItems {
    margin-right: 60px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    column-gap: 18px;
    row-gap: 42px;

}
.cart_item {
    width: 100%;
    background-color: #fff;
    box-shadow: var(--shadow_normal);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.cart_item_TOP {  
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    position: relative;
}
.cart_item_BOTTOM {
    padding: 16px;
}

.titleWrap_cartItem {
    position: relative;
    z-index: 2;
}
.img_cartItem {
    max-width: 230px;
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 2;
    bottom: -10;
}
.img_wave_cartItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.displayBox_BOTTOM {
    height: 64px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.displayBox_BOTTOM > p {
    font-weight: 600;
}





.actionBox_cartItem {
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;

    border-radius: 8px;
    background-color: #fff;
    box-shadow: var(--shadow_normal);
    overflow: hidden;
}
.wrap_inputQnt {
    display: flex;
    flex: 1;
    overflow: hidden;
}
.btn_qnt {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    filter: saturate(0%);
}
.btn_qnt:hover {
    background-color: var(--color_hover);
}
.btn_qnt.red_hover:hover {
    filter: saturate(100%);
    background-color: #FFF1F1;
}
.btn_qnt.shrink {
    
}
.qnt_line {
    position: absolute;
    width: 18px;
    height: 3px;
    border-radius: 20px;
    background-color: #9A9A9A;
}
.qnt_line.vertical {
    transform: rotate(90deg);
}
.icon_trash_minus {
    height: 20px;
    opacity: 90%;
}


.actionBox_FRONT {
    display: flex;
    width: 100%;
    background-color: #fff;
}
.actionBox_BACK {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;

    display: none;
    align-items: center;
    background-color: #fff;
    padding: 0 16px 0 0;
    z-index: 6;
}
.qnt_decoy_TOP {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
}
input[name="cart_decoy"] {
    flex: 1;
    height: 100%;
    width: 100%;
    
    padding-left: 24px;
    font-size: 17px;
}

.btn_qntDecoy {
    height: 42px;
    padding: 0 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 100%;
}
.btn_qntDecoy.submit.hide {
    width: 0px;
    overflow: hidden;
    padding: 0px;
    opacity: 0%;
}
.btn_showAction {
    position: relative;
    flex: 1;
    z-index: 2;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    font-size: 18px;
    font-weight: 600;
    color: var(--color_grey);
    cursor: pointer;
    white-space: nowrap;
}
.text_inputError {
    display: block;
    color: red;
    font-weight: 600;
    margin-top: 8px;
}
.text_inputError.hide {
    display: none;
}

.btn_deleteItem{
    filter: saturate(0%);
    height: 100%;
    width: 25%;
    min-width: 70px;
    border-right: var(--border_bottom);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn_deleteItem > img {
    height: 20px;
    opacity: 90%;
}
.btn_deleteItem > a {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}
.btn_deleteItem:hover {
    filter: saturate(100%);
    background-color: #FFF1F1;
}


.stickyWrap_checkout {
    position: relative;
    width: 420px;
    min-width: 420px;
    display: flex;
    justify-content: center;
}
.subWrap_stickyBox {
    width: 100%;
    position: sticky;
    top: 120px;
    z-index: 5;
    height: min-content;
}
.box_proceedCheckout {
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--shadow_normal);
}

.box_freeShipping {
    padding: 14px 16px;
    border-bottom: var(--border_bottom);
}
.box_checkout {
    padding: 16px;
}
.alert_shipping {
    display: none;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.75);
    
}
.alert_shipping.yes {
    flex-direction: row;
    align-items: center;
}
.alert_shipping.no {
    margin: 14px 0 38px;
    flex-direction: column;
}
.icon_checkmark {
    width: 18px;
    object-fit: contain;
    margin-right: 6px;
}

.wrap_shippingLines {
    height: 12px;
    width: 100%;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    margin-top: 8px;
}
.shippingLine {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.shippingLine.bg {
    width: 100%;
    background-color: #eeeeee;
    z-index: 1;
} 
.shippingLine.grow {
    z-index: 2;
    background: linear-gradient(90deg, #407FF2 0%, #85D3FF 100%);
    border-radius: 100px;
    width: 50px;
    transition: 400ms ease-out;
}

.empty_cart_slot {
    border-radius: 8px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 262px;

    font-weight: 500;
    color: var(--color_grey);
    border: 1px solid rgba(0, 0, 0, 0.1);

}
.empty_cart_slot.change {
    background-color: rgba(0, 0, 0, 0.05);
}

.wrap_plus {
    height: 14px;
    width: 14px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 5px;
}
.line_plus {
    width: 100%;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    background-color: var(--color_grey);
}
.line_plus.second {
    transform: rotate(90deg);
}


.checkoutBox_TOP {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
    border-bottom: var(--border_bottom);
}
.checkoutBox_BOTTOM {
    padding: 20px 16px 16px;
} 

.title_Summary {
    font-size: 18px;
    font-weight: 600;
    color: var(--color_bigText);
}
.text_finalPrice {
    font-size: 20px;
    font-weight: 600;
    margin-left: auto;
    color: var(--color_Main);
}


.btn.cart {
    color: white;
    font-weight: 600;
    border-radius: 8px;
    height: 54px;
}
.btn.cart.keepShopping {
    margin-bottom: 8px;
    background-color: #fff;
    color: var(--color_Main);
    font-weight: 400;
    border: 1px solid var(--color_Main);
} 

.btn.inverted.checkout {
    
}

.box_leftToDiscount {

}
.text_leftForFreeShipping {
    font-weight: 600;
}
.lineWrap_freeShipping {
    display: none;
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 100px;
    overflow: hidden;
    margin: 12px 0 6px;
}
.line_shipping {
    background-color: rgb(221, 221, 221);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.line_shipping.grow {
    background-color: var(--color_Main);
    width: 0%;
}


.btnWrap_mobileCart {
    width: 100%;
    height: calc(60px + 4vw);
    padding: 2vw 4vw;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    position: sticky;
    top: 60px;
    z-index: 7;
    
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}


.empty_cart_sign {
    height: 200px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    box-shadow: var(--shadow_normal);
    border-radius: 8px;
}
.icon_empty_cart {
    filter: saturate(0%);
    width: 50px;
    margin-bottom: 16px;
    opacity: 50%;
}


.alertBox_cart {
    position: fixed;
    bottom: 16px;
    left: 16px;
    width: calc(100vw - 32px);
    padding: 16px;
    background-color: #ff9090;
    z-index: 10;  
    border-radius: 5px;
}
.alertBox_cart > * {
    color: black;

}

.text_separator {
    width: 100%;
    margin: 30px 0 10px;
}


.box_itemPreview {
    width: 100%;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px;
    grid-auto-rows: 150px;
    column-gap: 8px;
    row-gap: 8px;

    padding: 0 0 18px;
    margin-bottom: 28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.itemPreview {
    border-radius: 8px;
    box-shadow: var(--shadow_normal);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.itemPreview.empty {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    align-items: center;
}
.itemPreview.empty.change  {
    background-color: rgba(0, 0, 0, 0.05);
}
.itemPreview.empty.no_desc {
    display: none;
}
.imgWarp_itemPreview {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 22px 16px 4px;
}
.img_cartPreview {
    width: 90%;
    height: 100%;
   object-fit: contain;
}
.wrap_previewFeatures {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.miniFeature {
    font-weight: 600;
    padding: 0 4px;
    height: 28px;
    min-width: 28px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
}

.fixed_buyBox {
    position: fixed;
    width: 100%;
    top: -80;
    left: 0;
    background-color: #fff;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);

    display: none;
    align-items: center;
    justify-content: center;
    padding: 2vw 4vw;
    z-index: 10;
    transition: 300ms ease-in;
}
.fixed_buyBox.show {
    top: 0;
}
.btn.cart.fixed {
    justify-content: flex-start;
    width: 100%;
    margin: 0;
}
.btn.cart.mobile {
    display: flex;
    margin: 0;
    width: 100%;
}

.word_qnt.m {
    display: none;
}


@media only screen and (min-width: 1440px) {}
@media only screen and (min-width: 1921px) {
    .subWrap_pageTitle.cart {
        max-width: 1650px;
    }
    .grid_cartItems {
        grid-template-columns: 1fr 1fr;
    }
    .empty_cart_slot {
        height: 368px;
    }

}
/* Default == 991 to 1440 */
@media only screen and (max-width: 1250px) {
    .grid_cartItems {
        grid-template-columns: 1fr;
        margin-right: 24px;
    }
   
    .empty_cart_slot:hover > .wrap_plus  {
        opacity: 100%;
    }
}
@media only screen and (max-width: 990px) {
    .pageTitle.cart {
        display: none;
    }
    .section_pageTitle.cart {
        background-color: var(--color_bg);
        box-shadow: none;
        display: none;
    }
    .subWrap_pageTitle.cart {
        width: 530px;
    }
    .section_cartPage {
        padding: 0;
    }
    
    .container.container_cartItems {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        padding: 4vw;
    }
    .grid_cartItems {
        padding: 0 0 32px;
        margin: 0px;
        grid-template-columns: 1fr;
        width: 530px;
        
    }
    
    .stickyWrap_checkout {
        width: 100%;
        min-width: auto;
    }
    .subWrap_stickyBox {
        width: 530px;
    }
    .displayBox_TOP {
        height: 270px;
    }

    .btn_showAction {
        padding: 0 4vw;
    }
    .empty_cart_slot {
        height: 312px;
    }
    .fixed_buyBox {
        display: flex;
    }

}
@media only screen and (max-width: 770px) {
    
    .subWrap_pageTitle {
        width: 100%;
    }
    .subWrap_stickyBox {
        width: 100%;
    }
    .grid_cartItems {
        width: 100%;
        row-gap: 24px;
    }
    .displayBox_TOP {
        padding: 16px 8vw;
    }
    .displayBox_BOTTOM {
        padding: 0 8vw;
    }
    .separator {
        width: 100%;
    }
    .img_cartItem {
        max-width: 190px;
    }
}
@media only screen and (max-width: 500px) {
    .grid_cartItems {
        width: 100%;
    }
    .displayBox_TOP {
        height: 176px;
    }
    .cart_item_TOP {  
        height: 170px;
    }
    .empty_cart_slot {
        height: 262px;
    }
    .img_cartItem {
        max-width: 130px;
    }
    .box_itemPreview {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 150px;
            grid-auto-rows: 150px;
    }
    .itemPreview.empty.no_mob {
        display: none;
    } 
    .itemPreview.empty.no_desc {
        display: flex;
    }

    .word_qnt.d {
        display: none;
    }
    .word_qnt.m {
        display: flex;
    }
}