:root {
    --color_Main: #407ff2;
    --color_Main_Hover: #3068cf;
    --color_hover: #f5f5f5;
    --color_hover_lightBlue: #ebf2fd;
  
    --color_Text: rgba(0, 0, 0, 0.80);
    --color_bigText: rgba(0, 0, 0, 0.75);
    --color_activeLink: rgba(64, 127, 242, 0.1);
    --color_black_06: rgba(0, 0, 0, 0.600);
    --color_text_green: rgb(23 116 0 / 80%);
  
    --color_grey: #747474;
    --color_bg: #f9fbff;
    --color_red: #ff4f4f;
  
    --shadow_normal: 0 1px 4px rgba(0, 0, 0, 0.15);
    --border_bottom: 1px solid rgba(0, 0, 0, 0.04);
  }

  .line_arrow {
    width: 2px;
    height: 16px;
    background-color: var(--color_grey);
    border-radius: 100px;
    margin-bottom: 6px;
    position: absolute;
    transform: rotate(60deg);
  }
  .line_arrow.reverse {
    margin-bottom: -9px;
    transform: rotate(-60deg);
  }

.section_inline_slider {
    background-color: var(--color_bg);
}
.container.container_inlineSlider {
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    grid-template-rows: 56px auto;
    grid-template-columns: 1fr auto;
    grid-auto-columns: 1fr;
    display: grid;

}
.title_inlineSlider {
    display: flex;
    align-items: center;
    padding-left: 8px;
}
.controls_inlineSlider {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
}

.btn_inlineSlider {
    background-color: #FFF;
    border-radius: 300px;
    box-shadow: var(--shadow_normal);
    height: 54px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn_inlineSlider:hover {
    background-color: var(--color_hover);
}
.btn_inlineSlider.see_all {
    width: 170px;
    margin-left: 12px;
}
.btn_inlineSlider.arrow {
    width: 54px;
    height: 54px;
    margin-left: 8px;
}
.btn_inlineSlider.arrow.right {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, .1);  
  rotate: 180deg;
} 


.inline_swiper_wrapper {
    grid-column: 1/3;
}
.grid_products_inline{
    width: 100%;
    max-width: 1920px;
    min-width: 100%;

    display: grid;
    grid-template-rows: minmax(25%, 25%);
    grid-template-columns: minmax(25%, 25%);
    grid-auto-rows: minmax(25%, 25%);
    grid-auto-columns: minmax(25%, 25%);
    grid-auto-flow: column;
    

    transition: all .5s;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.product_parent_inline {
    width: 100%;
    height: 100%;
    padding: 8px 6px;
}

@media only screen and (min-width: 1440px) {
    .product.product_inline {
        max-height: 425px;
    }
}
@media only screen and (min-width: 1921px) {
    .grid_products_inline {
        grid-template-columns: minmax(20%, 20%);
        grid-auto-columns: minmax(20%, 20%);
    }  
    .product.product_inline {
        max-height: 475px;
    }
}
/* Default == 991 to 1440 */
@media only screen and (max-width: 990px) {
    .section_inline_slider {
        padding-left: 0;
        padding-right: 0;
    }
    .container.container_inlineSlider {
        grid-row-gap: 4px;
        grid-template-columns: 1fr;
    }
    .title_inlineSlider {
        padding: 0;
        padding-left: calc(4vw + 6px);
        grid-column: 1 / 3;
    }
    .grid_products_inline {
        grid-template-columns: minmax(31%, 31%);
        grid-auto-columns: minmax(31%, 31%);
        padding-left: 4vw;
        padding-right: 16px;
        overflow: scroll;
    }
    .controls_inlineSlider {
        grid-row: 3;
        grid-column: 1 / 3;
        padding: 0;
        padding-left: calc(4vw + 6px);
        padding-right: calc(4vw + 6px);
    }
    .btn_inlineSlider {
        border-radius: 8px;
    }
    .btn_inlineSlider.arrow {
        width: 140px;
    }
    .btn_inlineSlider.see_all {
        order: -1;
        flex: 1;
        margin: 0;
    }
}
@media only screen and (max-width: 770px) {
    .grid_products_inline {
        grid-template-columns: minmax(45vw, 45vw);
        grid-auto-columns: minmax(45vw, 45vw);
        padding-left: 4vw;
        transition-duration: .25s;
    }  
    .controls_inlineSlider {
        padding: 0 4vw;
    }
    .btn_inlineSlider.arrow {
        width: 20%;
        min-width: 70px;
    }
}
@media only screen and (max-width: 500px) {
    .grid_products_inline {
        grid-template-columns: minmax(55vw, 55vw);
        grid-auto-columns: minmax(55vw, 55vw);
    }
}

